/build/
/target/
/dist/
*.egg-info/
*.pyc
.pytest_cache/
__pycache__/
*.log
*.tmp
*.bak
*.swp
.DS_Store
.idea/
.vscode/
src/onionlink/_native.cpython-313-darwin.so
src/onionlink/_native.cpython-39-darwin.so
